<!DOCTYPE html>

<html lang='en'>
    <head>
      <% include ../partials/head %>
    </head>
    <body>
    <header>
      <% include ../partials/header %>
    </header>

    <main>
        <h1>My todolist</h1>

        <ul>
            <li><a href="/todo/delete/:taskID">✘</a> <%= :taskID %></li>
        </ul>

        <form action="/todo/add/" method="post">
            <p>

                <label for="newtodo">add task</label>
                <input type="text" name="newtodo" id="taskID" autofocus />
                <input type="submit" />
            </p>
        </form>

      <footer>
        <% include ../partials/footer %>
      </footer>
    </main>
    </body>
</html>
